.Password {
  color: var(--color-contrast);
}

.Password > h2 {
  font-size: var(--font-m);
  color: var(--color-high-contrast);
  font-weight: normal;
  margin-bottom: var(--space-m);
}

.Password input {
  width: 100%;
  border: solid 1px var(--color-low-contrast);
  border-radius: var(--radius-s);
  height: var(--space-xl);
  font-size: var(--font-m);
  color: var(--color-contrast);
  padding-left: calc(var(--space-xl) + var(--space-xs));
  position: relative;
  outline: none;
}

.Password input:focus {
  border-color: var(--color-accent-bg);
}

.Password input::placeholder {
  color: var(--color-low-contrast);
}

.Password fieldset {
  position: relative;
  display: inline-block;
  width: 100%;
}

.Password fieldset::after,
.Password button {
  content: "\f084";
  font-family: var(--font-ico);
  font-size: var(--font-m);
  text-align: center;
  color: var(--color-low-contrast);
  line-height: var(--space-xl);
  width: var(--space-xl);
  height: var(--space-xl);
  position: absolute;
  top: 0;
}

.Password fieldset::after {
  left: 0;
}

.Password button {
  right: 0;
  cursor: pointer;
  background-color: transparent;
}

.Password button:hover {
  color: var(--color-accent-bg);
}
